.login-container {
  margin: 40px 16px 200px;
}

.username {
  width: 343px;
}

.password {
  width: 343px;
}

@media screen and (min-width: 769px) {
  .login-container {
    margin-left: 360px;
    margin-bottom: 600px;
  }

  .form-group input {
    width: 600px;
  }
}
