body {
  margin: 0;
}

.container {
  padding: 0;
}

.bg-home {
  background-image: url("../image/bg-exam.png");
  width: 375px;
  height: 500px;
  background-repeat: no-repeat;
}

.navbar {
  background-color: #0061a8;
}

.form-error {
  background-color: red;
  margin-bottom: 8px;
  color: white;
  padding: 8px;
}

/* SEARCHBAR */

#search-input {
  width: 250px;
}

.search-container {
  width: 250px;
}

.results-container {
  width: 250px;
  /*   display: flex;
  flex-flow: wrap; */
}

.image {
  width: 200px;
}

/* LOADER */
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}
