body {
  margin: 0;
}

.container {
  padding: 0;
}

.bg-home {
  background-image: url("../image/bg-exam.png");
  width: 375px;
  height: 500px;
  background-repeat: no-repeat;
}

.navbar {
  background-color: #0061a8;
}

.form-error {
  background-color: red;
  margin-bottom: 8px;
  color: white;
  padding: 8px;
}
